section#banner.banner.fdb-block.bg-dark.justify-content-center
  .container.justify-content-center
    .row.justify-content-center
      .col-12.text-center
        .banner-title
          img(alt="广州云纵",title="广州云纵",src="./img/banner-title.png")
        p.lead(style="font-size:2em") 专业的销售管理解决方案提供商
        p.lead(style="font-size:1.5em") professional sales & management solution provider
        .banner-line
        p.mt-5.mt-sm-4
          a(href="#about").banner-getstart