section#contact.contact.fdb-block.bg-dark
  .container
    .row.text-left
      .col-12.col-lg-4
        .contact-box
          .contact-title 客户合作
            span.iconfont.icon-handshake
          p.contact-strong 如果您有意向与我们合作，请联系我司销售经理：
          p 联系人：余阳三
          p QQ：3449577606
          p 手机：13826250532
          p 座机：020-29874404
          p 邮箱：yangsan.yu@gzyzad.com
          br
          p 联系人：韦清运
          p QQ：2406203990
          p 手机：13247549573
          p 座机：020-29874404
          p 邮箱：qingyun.wei@gzyzad.com
      .col-12.col-lg-4
        .contact-box
          .contact-title 媒体合作
            span.iconfont.icon-video
          p.contact-strong 如果您有意向与我们合作，请联系我司商务经理:
          p 联系人：龙彩欣
          p QQ：1019651863
          p 手机：15626067355
          p 座机：020-38170318
          p 邮箱：camie@gzyzad.com
        .contact-box.contact-solid
          .contact-title 公司地址
            span.iconfont.icon-map-marker-alt
          p 地址：广州市天河区体育东路羊城商贸中心东塔1004
          p 电话：020-29874404
      .col-12.col-lg-4
        .contact-box
          .contact-title 加入我们
            span.iconfont.icon-user-friends
          p 在这里，你将拥有宽松、愉悦、平等的工作环境，你将收获友爱、尊重、温暖的创业伙伴。
          p 更重要的是，你有可能实现自己最大的价值。
          p 联系人：龙小姐 
          p 简历请发送邮箱：camie@gzyzad.com
        .contact-box.contact-join
          p 
            span.iconfont.icon-user-tie
            | 销售经理
            span.iconfont.icon-map-marker-alt
            | 广州
            span.iconfont.icon-users
            | 2
            span.iconfont.icon-comments
            | 面议
          p 通过网络开发移动互联网广告客户，完成公司下达的广告销售任务；与客户进行有效沟通，准确了解客户网络推广的需求，提供相应的广告营销解决方案，将最新最优质的资源推荐给客户，寻找销售机会并完成销售业绩；维护广告销售渠道、开拓新客户，定期与客户进行沟通，建立良好的长期合作关系，挖掘客户的最大潜力。
          p 
            span.iconfont.icon-user-tie
            | 销售经理
            span.iconfont.icon-map-marker-alt
            | 广州
            span.iconfont.icon-users
            | 1
            span.iconfont.icon-comments
            | 面议
          p 负责新媒体渠道挖掘，跟进广告投放，对出现的问题及时发现；跟广告销售对接需求，进行广告排期投放；
