section#intro.intro.fdb-block.bg-dark
  .container
    .intro-case.intro-dot
      .intro-hack
      img.img-fluid(src="./img/intro-case.png", alt="业务组成")
    .intro-service.intro-dot
      .intro-hack
      img.img-fluid(src="./img/intro-service.png", alt="服务行业")
    .intro-team.intro-dot
      .intro-hack
      img.img-fluid(src="./img/intro-team.png", alt="创始团队")