section#service.service.fdb-block
  .container
    .row.align-items-center
      .col-12.col-md-12.col-lg-6.col-xl-5
        .title ABOUT COMPANY
        div
          img.img-fluid(
            alt="image"
            src="./img/service-title.png")
        h2 全链路营销闭环
        p 基于大数据，媒体优势和线上线下业务合作伙伴的能力，创建完整的闭环营销以满足客户的场景需求，提供完整的一站式营销解决方案。
      .col-12.col-md-8.m-auto.ml-lg-auto.mr-lg-0.col-lg-6.pt-5.pt-lg-0
        img.img-fluid(
          alt="image"
          src="./img/service-picture.jpg")