section#contact.contact.fdb-block.bg-dark
  .container
    .row.text-left
      .col-12.col-lg-4
        .contact-box
          .contact-title(style="font-size:1.4em") Cooperative Consultation
            span.iconfont.icon-handshake
          p.contact-strong Please feel free to contact our business manager for any business consulting:
          p Name：Mr. Yu
          p QQ：3449577606
          p Mobile：13826250532
          p Tel：020-29874404
          p E-mail：yangsan.yu@gzyzad.com
          br
          p Name：Mr. Wei
          p QQ：2406203990
          p Mobile：13247549573
          p Tel：020-29874404
          p E-mail：qingyun.wei@gzyzad.com
      .col-12.col-lg-4
        .contact-box
          .contact-title(style="font-size:1.4em") Media Channel Cooperation
            span.iconfont.icon-video
          p.contact-strong Please feel free to contact our media manager for any business cooperation:
          p Name：Miss. Long
          p QQ：1019651863
          p Mobile：15626067355
          p Tel：020-38170318
          p E-mail：camie@gzyzad.com
        .contact-box.contact-solid
          .contact-title(style="font-size:1.4em") Company Address
            span.iconfont.icon-map-marker-alt
          p Address:1004 East Tower of YangCheng International Trading Center, TiYu East Road, TianHe District, GuangZhou
          p Tel：020-29874404
      .col-12.col-lg-4
        .contact-box
          .contact-title(style="font-size:1.4em") Join Us
            span.iconfont.icon-user-friends
          p Here, you will have a relaxed, pleasing, equal working environment, you will get a friendly, respectful, warm business partner, and more importantly, you are likely to achieve the greatest value of your own.
          p Contact：Miss. Long
          p mail：camie@gzyzad.com
        .contact-box.contact-join
          p 
            span.iconfont.icon-user-tie
            | 销售经理
            span.iconfont.icon-map-marker-alt
            | 广州
            span.iconfont.icon-users
            | 2
            span.iconfont.icon-comments
            | 面议
          p 通过网络开发移动互联网广告客户，完成公司下达的广告销售任务；与客户进行有效沟通，准确了解客户网络推广的需求，提供相应的广告营销解决方案，将最新最优质的资源推荐给客户，寻找销售机会并完成销售业绩；维护广告销售渠道、开拓新客户，定期与客户进行沟通，建立良好的长期合作关系，挖掘客户的最大潜力。
          p 
            span.iconfont.icon-user-tie
            | 销售经理
            span.iconfont.icon-map-marker-alt
            | 广州
            span.iconfont.icon-users
            | 1
            span.iconfont.icon-comments
            | 面议
          p 负责新媒体渠道挖掘，跟进广告投放，对出现的问题及时发现；跟广告销售对接需求，进行广告排期投放；
