section#service.service.fdb-block
  .container
    .row.align-items-center
      .col-12.col-md-12.col-lg-6.col-xl-5
        .title ABOUT COMPANY
        div
          img.img-fluid(
            alt="image"
            src="./img/service-title.png")
        h2 Closed-loop Marketing
        p Based on the capability of big data、media advantages & online/offline business partners, to create a complete closed-loop marketing cater to clients' scenario requirements, we provide a complete one-stop marketing solution.
      .col-12.col-md-8.m-auto.ml-lg-auto.mr-lg-0.col-lg-6.pt-5.pt-lg-0
        img.img-fluid(
          alt="image"
          src="./img/service-picture.jpg")